NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dwi7o19nn
CLOUDINARY_API_KEY=549144472596919
CLOUDINARY_API_SECRET=AnNiPOszr1R0YCelomUmi9IyuBM
CLOUDINARY_FOLDER=test

# Supabase Storage
NEXT_PUBLIC_SUPABASE_URL=https://iryulmxbbrtqeioohexv.supabase.co
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=assets
NEXT_PUBLIC_SUPABASE_STORAGE_PREFIX=images
SUPABASE_STORAGE_PREFIX=images
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlyeXVsbXhiYnJ0cWVpb29oZXh2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzMxNTk2NCwiZXhwIjoyMDkyODkxOTY0fQ.37XCh86yR6DAJWDa4Ot7HN9_toTmE923RfEyVsszcPg

# Optional: override specific assets gradually
NEXT_PUBLIC_SUPABASE_LOGO_URL=
NEXT_PUBLIC_SUPABASE_LOGO_LIGHT_URL=

# Simple admin login (client-side)
NEXT_PUBLIC_ADMIN_USERNAME=yara_admin
NEXT_PUBLIC_ADMIN_PASSWORD=yarayara123
